## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Tarakan,ID,80.10,broken clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
1,21,Victoria,HK,80.26,overcast clouds,22.2855,114.1577,Mini Hotel Central
2,25,Atuona,PF,77.72,clear sky,-9.8000,-139.0333,Villa Enata
3,33,Aloleng,PH,82.99,broken clouds,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
4,35,Airai,TL,77.27,overcast clouds,-8.9266,125.4092,Juvinal Martin

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig.add_layer(marker)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"])=="Houma"]
vacation_end = vacation_df.loc[(vacation_df["City"])=="Houma"]
vacation_stop1 = vacation_df.loc[(vacation_df["City"])=="San Patricio"]
vacation_stop2 = vacation_df.loc[(vacation_df["City"])=="Yuma"] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"])=="Kyle"]

In [15]:
s = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
print(s)

(29.5958, -90.7195)

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [20]:
print(f"start: {start} end: {end} stop:{stop1} stop:2 {stop2} stop3{stop3}")

start: (29.5958, -90.7195) end: (29.5958, -90.7195) stop:(28.017, -97.5169) stop:2 (32.7253, -114.6244) stop3(29.9984, -97.8715)

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
       

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,578,Houma,US,75.97,broken clouds,29.5958,-90.7195,Courtyard by Marriott Houma
1,96,San Patricio,US,81.84,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,457,Yuma,US,75.97,few clouds,32.7253,-114.6244,Best Western Yuma Mall Hotel & Suites
3,628,Kyle,US,79.45,few clouds,29.9984,-97.8715,La Quinta Inn & Suites by Wyndham Kyle - Austi...

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
#print(hotel_info)

['\n<dl>\n<dt>Hotel</dt><dd>Courtyard by Marriott Houma</dd>\n<dt>City</dt><dd>Houma</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>broken clouds</dd>\n<dt>Max Temp</dt><dd>75.97 Â°F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel</dt><dd>Motel 6 Sinton, TX</dd>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>overcast clouds</dd>\n<dt>Max Temp</dt><dd>81.84 Â°F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel</dt><dd>Best Western Yuma Mall Hotel & Suites</dd>\n<dt>City</dt><dd>Yuma</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>few clouds</dd>\n<dt>Max Temp</dt><dd>75.97 Â°F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel</dt><dd>La Quinta Inn & Suites by Wyndham Kyle - Austin South</dd>\n<dt>City</dt><dd>Kyle</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>few clouds</dd>\n<dt>Max Temp</dt><dd>79.45 Â°F</dd>\n</dl>\n']

In [40]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)
city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
     
# 4b. Display the figure

fig.add_layer(marker)
#fig.add_layer(city_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))